docs/n8n/WF.300.chat.backbone.v2.json
{
    "name": "WF.300.chat.backbone.v2",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "familyhub/chat-backbone/v2",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-node",
            "name": "Webhook v2",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                380,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "function uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst input = items[0].json.body || {};\n// Use provided requestId or generate one\nconst reqId = input.requestId || uuidv4();\nconst message = input.message;\n\nif (!message || typeof message !== 'string' || message.trim() === '') {\n  return [{\n    json: {\n      isValid: false,\n      httpStatus: 400,\n      response: {\n        status: \"error\",\n        reply: \"Invalid message: must be a non-empty string.\",\n        requestId: reqId,\n        actionResult: null\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    isValid: true,\n    requestId: reqId,\n    message: message\n  }\n}];"
            },
            "id": "validate-node",
            "name": "Validate Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                600,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.isValid }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "if-valid-node",
            "name": "Is Valid?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                820,
                300
            ]
        },
        {
            "parameters": {
                "workflowId": "WF.310.capability.router.v1",
                "mode": "each",
                "dataMode": "define",
                "workflowInputs": {
                    "values": [
                        {
                            "name": "message",
                            "value": "={{ $json.message }}"
                        },
                        {
                            "name": "requestId",
                            "value": "={{ $json.requestId }}"
                        }
                    ]
                }
            },
            "id": "exec-router",
            "name": "Exec Router",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                1100,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "respond-success-node",
            "name": "Respond Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1350,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json.response }}",
                "options": {
                    "responseCode": "={{ $json.httpStatus }}"
                }
            },
            "id": "respond-error-node",
            "name": "Respond Error",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1100,
                500
            ]
        }
    ],
    "connections": {
        "Webhook v2": {
            "main": [
                [
                    {
                        "node": "Validate Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Input": {
            "main": [
                [
                    {
                        "node": "Is Valid?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Valid?": {
            "main": [
                [
                    {
                        "node": "Exec Router",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Exec Router": {
            "main": [
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}