docs/n8n/WF_102_CHAT_ECHO.json
{
    "name": "WF-102 Echo",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "familyhub/chat-echo",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "e1f1b1b1-1b1b-1b1b-1b1b-1b1b1b1b1b1b",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "function uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst input = items[0].json.body;\nconst reqId = input.requestId || uuidv4();\nconst payload = input.payload;\nconst context = input.context || {};\n\nif (!payload || !payload.message || typeof payload.message !== 'string' || payload.message.trim() === '') {\n  return [{\n    json: {\n      httpStatus: 400,\n      response: {\n        status: \"error\",\n        errorType: \"invalid_payload\",\n        reply: \"Invalid message\",\n        requestId: reqId\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    httpStatus: 200,\n    response: {\n      status: \"ok\",\n      reply: \"Echo: \" + payload.message,\n      requestId: reqId,\n      meta: {\n        handledBy: \"WF-102\",\n        timestamp: new Date().toISOString(),\n        uiMode: context.uiMode || null,\n        dayPhase: context.dayPhase || null\n      }\n    }\n  }\n}];"
            },
            "id": "c2f2b2b2-2b2b-2b2b-2b2b-2b2b2b2b2b2b",
            "name": "Process & Validate",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json.response }}",
                "options": {
                    "responseCode": "={{ $json.httpStatus }}"
                }
            },
            "id": "d3f3b3b3-3b3b-3b3b-3b3b-3b3b3b3b3b3b",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                900,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Process & Validate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process & Validate": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}