docs/n8n/WF_LLM_HELLO.json
{
    "name": "WF_LLM_HELLO",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "familyhub/chat",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const payload = $input.item.json.body.payload;\nif (!payload || !payload.message) {\n  throw new Error('Missing payload.message');\n}\nreturn { json: { prompt: payload.message } };"
            },
            "id": "sanity-check",
            "name": "Sanity Check",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://192.168.178.40:11434/api/generate",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "llama3"
                        },
                        {
                            "name": "prompt",
                            "value": "={{ $json.prompt }}"
                        },
                        {
                            "name": "system",
                            "value": "You are a minimal test assistant. Reply with one short sentence only."
                        },
                        {
                            "name": "stream",
                            "value": false
                        }
                    ]
                },
                "options": {}
            },
            "id": "llm-call",
            "name": "LLM Call (Ollama)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"status\": \"ok\",\n  \"reply\": \"{{ $json.response }}\"\n}",
                "options": {}
            },
            "id": "respond-to-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1120,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Sanity Check",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sanity Check": {
            "main": [
                [
                    {
                        "node": "LLM Call (Ollama)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "LLM Call (Ollama)": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}