docs/n8n/agent_examples/Calender_Agent.json
{
  "name": "Calender_Agent",
  "nodes": [
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "6742954c02f36dac70166972259a90f9651f72d67230f0f3c7e3d54a35fdea38@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "AI-Kalender"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"eventAttendeeEmail\") }}"
          ],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        960,
        480
      ],
      "id": "c52aab57-3e09-476d-a3a9-5c935e1be17d",
      "name": "Create Event with Attendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "FXmOrADP2bAVrW7Z",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "6742954c02f36dac70166972259a90f9651f72d67230f0f3c7e3d54a35fdea38@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "AI-Kalender"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        832,
        480
      ],
      "id": "c05f4519-7abc-4043-bc54-7988a181ae2d",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "FXmOrADP2bAVrW7Z",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "6742954c02f36dac70166972259a90f9651f72d67230f0f3c7e3d54a35fdea38@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "AI-Kalender"
        },
        "timeMin": "={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}",
        "timeMax": "={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        704,
        480
      ],
      "id": "5b796e00-c02e-4004-9860-b9cb071e9b9c",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "FXmOrADP2bAVrW7Z",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "6742954c02f36dac70166972259a90f9651f72d67230f0f3c7e3d54a35fdea38@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "AI-Kalender"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        960,
        336
      ],
      "id": "ceaf5f5f-496b-4503-ba08-046bdca3d3d1",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "FXmOrADP2bAVrW7Z",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "6742954c02f36dac70166972259a90f9651f72d67230f0f3c7e3d54a35fdea38@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "AI-Kalender"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "updateFields": {
          "end": "={{ $fromAI(\"endTime\") }}",
          "start": "={{ $fromAI(\"startTime\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        832,
        336
      ],
      "id": "fe371e3c-e833-486a-b8c1-6da311bb039e",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "FXmOrADP2bAVrW7Z",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a calendar assistant. Your responsibilities include creating, getting, and deleting events in the user's calendar.\n\n**Calendar Management Tools**  \n   - Use \"Create Event with Attendee\" when an event includes a participant.  \n   - Use \"Create Event\" for solo events.   \n   - Use \"Get Events\" to fetch calendar schedules when requested.\n   - Use \"Delete Event\" to delete an event. You must use \"Get Events\" first to get the ID of the event to delete.\n   - Use \"Update Event\" to update an event. You must use \"Get Events\" first to get the ID of the event to update.\n\n## Final Notes\nHere is the current date/time: {{ $now }}\nIf a duration for an event isn't specified, assume it will be one hour."
        }
      },
      "id": "85430485-9ef4-41c1-aa94-77f27636f8a4",
      "name": "Calendar Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        672,
        144
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "# Calendar Agent",
        "height": 636,
        "width": 708,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        32
      ],
      "id": "7d3c1e82-3a2f-447c-ab13-1fa435b9cd54",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        464,
        144
      ],
      "id": "d53b8047-f2cf-47af-9dd2-4c7b853c5ad2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        672,
        336
      ],
      "id": "fe07bd05-52e9-4afd-b266-75554c7c25c8",
      "name": "gpt-5-nano",
      "credentials": {
        "openAiApi": {
          "id": "bihF3w9TTrGm63kG",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Create Event with Attendee": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Calendar Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-5-nano": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd7e6a11-a926-4307-81c4-558836b1e16e",
  "meta": {
    "instanceId": "7730c1c37b85f988d1ff983ae031ea08ae25df877671906c9bf4db6a4f067873"
  },
  "id": "EhDDgS5NjAuxaKb6",
  "tags": []
}